h1 {
  text-decoration: underline;
}

.button-custom {
  background: #d7153a;
  color: #fff;
  border: none;
  padding: 0;
  font-size: 1rem;
  width: 150px;
  height: 75px;
}
.button-custom:hover {
  background: #dd3858;
}
.button-custom:focus {
  background: #d7153a;
  outline: 2px solid #2e5299;
  outline-offset: 2px;
}
.button-custom:active {
  background: #c03d4b;
}

.button-fail:focus {
  outline: none;
}

.button-fail-alt:focus {
  outline-width: 1px;
  outline-offset: 0;
}

button.cc:focus {
  outline-color: #f8ccd1 !important;
}

.stuff {
  background: #ccc;
}
